/* Add style to the body section*/
body{
  font-family:Arial,Helvetica,sans-serif;
  font-size:18px;
  line-height:1.5;
  padding:0;
  margin:0;
  background-color:#AFEEEE;
  background-image:url("https://mariamiah.github.io/Ride-My-Way/UI/img/frederik-danko-662139-unsplash.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
    }
body::after {
      opacity : 0.2;
 }
/* Add style to the header section in body*/
 header{
  padding-top:10px
  min-height:40px;
  border-bottom:#9B8A99 3px solid;
}
 /* Add a black background color to the top navigation */
.topnav {
    background-color:#333333;
    overflow:hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float:center;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    font-size:17px;
}
/*Add style to the unordered list items in the menu */
.topnav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.topnav li {
  font-family:Arial,Helvetica,sans-serif;
  font-size:18px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
  margin-right: -4px;
}
 .topnav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color:#AFEEEE;
    color: black;
}
/* Add a color to the active/current link */
.topnav a:active {
   color:red;
  cursor: default;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (min-width: 600px) {
  .topnav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}
     
 /* Add style to the container class*/
  .container{
    width:80%
    margin:auto;
    overflow:hidden;
  }

/* newsletter*/
#newsletter{
  padding:15px;
  color:#000000;
 }
#newsletter form{
  float:center;
  margin-top:50px;
}
 #newsletter input[type="email"]{
   padding:4px;
   height:25px;
   width:250px;
 }
/* Add style to footer*/
 footer{
   padding:20px;
   margin-top:20px;
   color:#000000;
   text-align:center;
 }
/*Add style to tables*/
 table, th, td {
      padding: 2px;
}
/*Add style to check boxes*/
input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float:right;
    padding:6px;
    border:none;
    margin-top:8px;
    margin-right:16px;
    font-size:17px;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
  }


 


